/*
    Document   : front
    Created on : 2012-11-16, 9:49:04
    Author     : wangting
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}
body {
    background-image: url('/images/bg.png');
}
h2.title {
    margin-bottom: 0;
    margin-top: 0;
}
h3 {
    color: grey;
}
.title a{
    color: grey;
}
.subtitle {
    color: grey;
    font-size: small;

}
h2.title a:hover {text-decoration: none;}
a {
    color: #e5e5e5;
}
a:hover {
    color: grey;
    text-decoration: none;
}
.single-product-image {
    margin: 5px;
}

.product-description {
    background-color: #F8F8F8;
    padding: 8px;
}
.single-product {
    border: #c6c6c6 solid thin;
}
.category-image {
    padding: 10px;

}
.product-list {
    margin-bottom: 10px;
}
footer p{
    color: grey;
}
.content {
    min-height: 700px;
}
.separate-line {
    background-image: url("/images/separator.png");
}

.color-animate-nav li a:hover{
    color: #e5e5e5;
}
ul.color-animate-nav li {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
}
.product-top {
    margin-bottom: 20px;
}
#product-slider {
    margin-left: 0;
    padding-left: 0;
}
.pikachoose {width: 800px; margin: 20px auto 20px auto;}

/* Style the thumbnails */
.pika-thumbs{ padding: 0 16px; height: 190px; margin-top: 10px; width: 100%;}
.pika-thumbs li{ width: 144px; height:134px; margin: 5px; padding: 2px; overflow: hidden;
    float: left; list-style-type: none; background: #fafafa; border: 1px solid #e5e5e5; cursor: pointer;}
.pika-thumbs li:last {margin: 0;}
.pika-thumbs li .clip {position:relative;height:100%;text-align: center; vertical-align: center; overflow: hidden;}

/* The stage is the wrapper. The image fills 100% the height of the stage */
.pika-stage, .pika-textnav {width: 940px;}
.pika-stage {
    overflow:hidden;
    position: relative;
    border: 1px solid #e5e5e5;
    padding: 10px 10px 10px 10px;
    text-align:center;
    height:703px;
}
.pika-stage img{height:703px; width: 937px}
.pika-textnav {display:none;}
.jcarousel-container-horizontal {
    overflow: hidden;
    width: 962px;
}
